@CHARSET "ISO-8859-1";

/*O titulo é modificado no template.css***/

.vsig {
	position: absolute;
	top: 0px;
}

/*** Titulo da pagina, escondido para uma modelo ******/
.componentheading{
	visibility: hidden !important;
}

/***Informações das modelos*************/
.modelInfo {
 color: white;
 z-index: 2;
 float:left;
 width: 150px;
 position: fixed !important;
}

.modelInfo h1{
        width: 11em;
	height: 60%;
	font-family: BonvenoCFLight,Helvetica,Arial,sans-serif;
	font-size: 28px;
}
.modelInfo table{
	margin-top: 20px;
}
.modelInfo td{
	padding-top: 10px;
	padding-left: 15px;
	/*padding-right: 5px;*/
	font-size: 16px;
	text-align:right;
}

.modelInfo td+td{
	text-align:left;
}


.sigplus-gallery{
	width: 400px;
	float: right;
}

/*****Voltar*****/
.modelInfo a{
	font-size: 18px !important;
	margin-top: 20px !important;
	float:left !important;
}