/*****************************/
/*** Core html setup stuff ***/
/*****************************/

html {
  height: 100%;
  margin-bottom: 1px;
}

form {
  margin: 0;
  padding: 0;
}

body {
	font-family: BonvenoCFLight,Helvetica,Arial,sans-serif;
	line-height: 1.3em;
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	color: #333;
}

a:link, a:visited {
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
	font-weight: normal;
}

input.button { cursor: pointer; }

p { margin-top: 0; margin-bottom: 5px; }

img { border: 0 none; }

/*****************************************/
/*** Template specific layout elements ***/
/*****************************************/

body {
background:#ffffff url('../images/fundo.jpg') no-repeat center center;
	
}

#main {
	width: 960px;

	margin-left: auto;
	margin-right: auto;

}


#title h2{

	font-size: 5em;
color: black;

}

#mainmenu {
	
	background-color: #ffffff;
	font-size: large;
	text-transform: uppercase;
	padding: 5px;
	margin: 180px 0px 0px 90px;
	width: 7em;
	height: 16em;
	

	
}

.menu li{
	
	margin-top: 10px;
}

.menu a{
	color: black;
}
