/************************************************/
/*cs3 - carregar a fonte do site ****************/
/*
@font-face{
   font-family:"BonvenoCFLight";
   src: url("http://www.ibrasiltv.com.br/ibmodels/templates/ibmodels/css/fonts/BonvenoCF-Light-webfont.eot"); /* para IE */
  /* src: local("BonvenoCFLight"), url("http://www.ibrasiltv.com.br/ibmodels/templates/ibmodels/css/fonts/BonvenoCF-Light-webfont.ttf");
} */

/*****************************/
/*** Core html setup stuff ***/
/*****************************/

html {
  height: 100%;
  margin-bottom: 1px;
}

form {
  margin: 0;
  padding: 0;
}

body {
	font-family: BonvenoCFLight,Helvetica,Arial,sans-serif;
	line-height: 1.3em;
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	color: #333;
}

a:link, a:visited {
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
	font-weight: normal;
}

input.button { cursor: pointer; }

p { margin-top: 0; margin-bottom: 5px; padding:5px;}

img { border: 0 none; }

/*****************************************/
/*** Template specific layout elements ***/
/*****************************************/
/*
body {
background:#ffffff url('../images/fundo.jpg') repeat-x center center;
	
}*/

#main {
	/*position:absolute;*/
	width: 960px;
	height: 520px;
	margin-left: auto;
	margin-right: auto;

}

#title h2{
	padding-top:30px;
	padding-left:20px;
	font-size: 4em;
        color: black;
	width:7em;	
}
#title:hover{
        text-decoration:none;
}

/*---------Imagem do Logo--------*/
#logo{
      position: absolute;
      /*margin-left: 1010px;*/
    /*  margin-left:50px;
      margin-top: 410px;*/
      margin-left:840px;
      margin-top: 25px;
      width:70px;
      height:82px;
      float:right;
}

#fundo_menu{
      background:#ffffff url('../images/fundo.jpg') repeat-x;
      position:absolute;
      margin: 80px 0px 0px 0px; 
}

#mainmenu {
	position:absolute;
	background-color: #ffffff;
	font-size: large;
	text-transform: uppercase;
	padding: 0px 5px 5px 5px;
	margin: 0px 0px 0px 190px; 
	width: 7em;
	height: 14em;
	float:left;
		
}

.menu li{
	margin-top: 10px;
}

.menu a{
	color: black;
	
}

.item1 {
visibility: hidden;
}
.menu a:hover{
	color: purple;
	text-decoration: none;
}
.item1{
	display:none;
}
/*---------------------Itens de sub-menu -----------------*/

.item10{
	padding-left:18px !important;
	font-size:14px !important;
}
.item11{
	padding-left:18px !important;
	font-size:14px !important;
}
.item12{
	padding-left:18px !important;
	font-size:14px !important;
}
.item13{
	padding-left:18px !important;
	font-size:14px !important;
}
/*--------------------------Titulo dos topicos ----------*/
.componentheading{
	font-size: 26px !important;
	padding-top: 20px !important;
	padding-bottom: 25px !important;
	font-family: BonvenoCFLight,Helvetica,Arial,sans-serif;
}
.contentheading{
	font-size: 30px !important;
  padding-top: 20px !important;
	padding-bottom: 20px !important;
	font-family: BonvenoCFLight,Helvetica,Arial,sans-serif;
}

/*--lista de noticias--*/
.contentpane{
	font-size: 14px !important;
}

/*---link dentro de uma noticia para voltar pra lista de noticias ----*/
.contentpaneopen span{
      font-size: 16px !important;
	  padding-top: 20px !important;
      padding-bottom: 20px !important;
      float: right;
 }
 
 /*--------LINKS------------*/


/*--------------------- Conteúdo -------------------------*/

#fundo_conteudo{
	position:absolute;
	background-color: black;
	/*margin: auto 250px;*/
	margin-left: 190px;
	margin-top:20px;
	width: 740px;
	height: 460px;
	opacity: 0.7;

}	

#conteudo {
	position:absolute;
	/*margin: auto 250px;*/
	margin-left: 190px;
	margin-top: 20px;
	width: 720px;
	height: 460px;
	font-family:Verdana,Arial,sans-serif;
	color:white;
	padding-left:10px;
	padding-right:10px;
	/*overflow-y:scroll;*/
	overflow:hidden; 
	text-align:justify;
}
#conteudo a:link{
	color: #7b4ce3;;
}
#conteudo a:visited{
	color: gray;
}

/*--------------------Scroll---------------------------------------*/

/* the action buttons above the scrollable */
#actions {
        margin-left: 800px;
	position:absolute;
	margin-top: 490px;
}

#actions a {
	font-size:13px;		
	cursor:pointer;
	color:purple;
}

#actions a:hover {
	text-decoration:underline;
	color:#000;
}

.disabled {
	visibility:hidden;		
}

.next {
      padding-left:20px;
}	

