@CHARSET "ISO-8859-1";

.faceThumb {

	border: 1px solid white;
	padding: 3px;
	margin: 5px; 
	float: left; 
	width: 130px; 
	height: 150px;

}

.faceThumb img{
	
	width: 130px; 
	height: 130px;
}

#modelInfo{
	background-color: black;
	position: fixed;
	top:13%;
	left:0;
	width: 100%;
	height: 75%;
	//opacity: 0.95;
	visibility:hidden;
	
}

.caracteristicas td+td{
	
	color: red;
}
